/* *-*-*-*-*-*-* basic css *-*-*-*-*-*-* */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.title {
    font-weight: 800;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
}

/* Mulish Font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Mulish',
        sans-serif;
}

.fa-exclamation-triangle {
    color: red;
}

/* *-*-*-*-*-* header css *-*-*-*-*-* */
/* .nav-area */
.nav-area {
    background-color: #ededed;
    padding: 30px 0;
}

/*  hero-area  */
.hero-area {
    /* background-image: url('https://cdn.pixabay.com/photo/2020/05/27/09/15/brush-5226442_960_720.jpg'); */
    /* opacity: .7; */
    /* padding: 200px 0; */
    /* border-top: 1px dashed;
    border-bottom: 1px dashed; */
    background: #f0f0f0;
    /* background-size: cover;
    background-position: right; */
}

.animated1.flipInX1.slower1 {
    margin-top: 0px;
    margin-bottom: 24px;
    color: #05152e;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}

.mg-top-48px {
    margin-top: 48px;
}

.search-container {
    position: relative;
}

.search-input {
    min-height: 92px;
    padding-right: 6px;
    padding-left: 61px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #f7f7fb;
    border-radius: 10px;
    background-image: url("../images/ico/search-icon.svg");
    background-position: 20px 50%;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0 20px 24px 0 rgba(21, 60, 245, 0.06), 0 5px 14px 0 rgba(5, 21, 46, 0.05);
    -webkit-transition: box-shadow 350ms ease, border-color 350ms ease;
    transition: box-shadow 350ms ease, border-color 350ms ease;
    color: #858c95;
    font-size: 20px !important;
    line-height: 38px;
}

.ibookin-input,
.ibookin-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.container-small {
    max-width: 670px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.container-small.hero {
    position: relative;
    z-index: 1;
}

.section.hero {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 120px;
}

.mw-100 {
    max-width: 100% !important;
}

.button-primary.search {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 18px;
    margin-right: 24px;
    margin-bottom: 18px;
}

input.ibookin-button {
    -webkit-appearance: button;
}

.ibookin-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.text-center {
    text-align: center !important;
}

.ibookin-input,
.ibookin-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

.search-input:hover {
    border-color: #1373b8;
    box-shadow: 0 24px 33px 0 rgba(21, 60, 245, 0.1), 0 7px 18px 0 rgba(5, 21, 46, 0.07);
}

.search-input:focus {
    border-color: #1373b8;
    color: #05152e;
}

/* *-*-*-*-*-* main css *-*-*-*-*-* */
/* Top categories area  */
.top-categories-area {
    padding: 50px 0;
}

.top-categories-area h3 {
    font-weight: 800;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
}

.categories-single-item {
    border-radius: 8px;
    box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    background: white none repeat scroll 0% 0%;
    overflow: hidden;

    flex-direction: column;
    border: 1px solid rgb(231, 232, 233);
    cursor: pointer;
    display: flex;
    transition: box-shadow 300ms ease 0s,
        transform 300ms ease 0s;
}

.categories-single-item:hover {
    box-shadow: rgba(16, 25, 40, 0.16) 0px 8px 16px 0px;
}

.categories-single-item img {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
    animation: 0s ease 0s 1 normal none running none;
    overflow: hidden;

    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px !important;
    transition: opacity 200ms ease 0s;
    opacity: 1;


}

.categories-single-item p {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    height: 56px;
    padding: 8px 16px;
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    color: rgb(16, 25, 40);
    line-height: 18px;
}

.owl-next span {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 30%;
    content: '';
    right: 0;
    width: 20px;
    margin-right: -4%;
    display: flex;
    height: 20px;
    line-height: 0px;
    font-size: 23px;
    font-weight: bold;
}

.owl-prev span {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 30%;
    content: '';
    left: 0;
    width: 20px;
    margin-left: -4%;
    display: flex;
    height: 20px;
    line-height: 0px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Turn on location service  */
.turn-on-location {
    box-shadow: 1px 8px 24px 0 rgba(0, 0, 0, .11);
    border-radius: 8px;
    padding: 80px;
}

.turn-on-location-area {
    padding-bottom: 50px;
}

.turn-on-location-content h3 {
    font-weight: bold;
    margin-bottom: 17px;
    font-size: 35px;
}

.turn-on-location-content p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 35px;
}

._2-buttons-header a {
    margin-right: 20px;
}

.button-secondary {
    padding: 18px 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(5, 21, 46, 0.1), 0 2px 6px 0 rgba(21, 60, 245, 0.02), 0 -2px 4px 0 rgba(21, 60, 245, 0.04);
    -webkit-transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, color 300ms ease, background-color 300ms ease;
    transition: transform 300ms ease, color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    color: #1373b8;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button-secondary:hover {
    background-color: #05152f;
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
    color: #fff;
}


.button-primary {
    padding: 18px 24px;
    border-radius: 4px;
    background-color: #05152f;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), 0 14px 14px 0 rgb(0 0 0 / 20%);
    -webkit-transition: box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: #05152f;
    box-shadow: 0 3px 9px 0 rgba(5, 21, 46, 0.16), 0 14px 19px 0 rgba(21, 60, 245, 0.23);
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
    color: #fff;
}

/* software-preview-area  */
.software-preview-content {
    padding-left: 50px;
}

.software-preview-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    padding-top: 100px;
}

.software-preview-content p {
    letter-spacing: 0px;
    margin: 30px 0;
    margin-bottom: 0px;
    /* min-width: 0px; */
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.learnmore-btn {
    display: flex;
    -moz-box-flex: 1;
    flex-grow: 1;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 11px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: 48px;
    background: rgb(3, 122, 255) none repeat scroll 0% 0%;
    position: relative;
    color: #fff;
    transition: background 300ms ease 0s, border 300ms ease 0s, color 300ms ease 0s;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.learnmore-btn:hover {
    background: rgb(78, 161, 255) none repeat scroll 0% 0%;
    border-color: transparent;
}


.software-preview-bg {
    background: #101928;
    padding-right: 0;
    border-radius: 16px;
}

.software-preview-area {
    padding-bottom: 50px;
}

/* featured-area */
.featured-area {
    padding-bottom: 50px;
}

.featured-box {
    transition: .3s;
    padding: 15px;
    border-radius: 8px;
}

.featured-box:hover {
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.featured-box img {
    border-radius: 8px;
    filter: grayscale(100%);
    transition: all 0.2s ease-out;
}

.featured-box img:hover {
    filter: grayscale(0%);
}

.featured-box h4 {
    color: #212529;
    font-size: 19px;
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(16, 25, 40);
    overflow: hidden;
    white-space: nowrap;
}

.featured-location {
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(135, 140, 147);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review {
    display: flex;
    color: rgb(16, 25, 40);
    font-weight: 900;
}

.review i {
    color: #FFC830;
    font-weight: bold;
    margin-right: 7px;
}

.review p {
    color: rgb(135, 140, 147);
    margin-left: 10px;
    font-weight: 400;
}

.featured-catagory {
    background: #CDE4FF;
    width: 30%;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -6px;
}

/* *-*-*-*-*-* footer css *-*-*-*-*-* */
.footer-area {
    background: #fff;
    padding: 50px 0;
    border-top: 1px solid rgb(235, 230, 230);
}

.footer-social-icon a i {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 22px;
    color: #ededed;
    transition: .4s;
}

.footer-social-icon a i:hover {
    color: #000;
    transition: .4s;
}

.footer-menu h3 {
    color: #535964;
    font-weight: 600;
    font-size: 22px;
}

.footer-menu h3 {
    color: #535964;
    font-weight: 600;
    font-size: 22px;
}

.footer-menu ul li {
    list-style: none;
    padding: 5px 0;
}

.footer-menu ul {
    padding: 0;
}

.footer-menu p {
    color: rgb(16, 25, 40);
}

.footer-menu ul li a {
    color: rgb(16, 25, 40);
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
}

.copyright {
    /* border-top: 1px solid rgb(235, 230, 230); */
    color: #535964;
    padding-top: 15px;
}


/* Sticky nav  */
#sticker {
    z-index: 999 !important;
}

.nh {
    visibility: hidden;
    transition: .2s;
}

.is-sticky .nh {
    visibility: visible;
    transition: .2s;
}