/* CSS Import  */
@import url('header_base.css');
@import url('header_custom.css');



/* *-*-*-*-*-*-* basic css *-*-*-*-*-*-* */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.title {
    font-weight: 800;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
}

/* Mulish Font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Mulish',
        sans-serif;
}

.fa-exclamation-triangle {
    color: red;
}

/* *-*-*-*-*-* header css *-*-*-*-*-* */
/* .nav-area */
.nav-area {
    background-color: #ededed;
    padding: 30px 0;
}
.header {
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%) !important;
}
.button-primary.button-header-primary {
    margin-left: 5px !important;
}
/* Sticky nav  */
#sticker {
    z-index: 999 !important;
}

.nh {
    visibility: hidden;
    transition: .2s;
}

.is-sticky .nh {
    visibility: visible;
    transition: .2s;
}

/*  hero-area  */
.hero-area {
    background: #f0f0f0;
}

.animated1.flipInX1.slower1 {
    margin-top: 0px;
    margin-bottom: 24px;
    color: #05152e;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}

.mg-top-48px {
    margin-top: 48px;
}

.search-container {
    position: relative;
}

.search-input {
    min-height: 92px;
    padding-right: 6px;
    padding-left: 61px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #f7f7fb;
    border-radius: 10px;
    background-image: url("../images/ico/search-icon.svg");
    background-position: 20px 50%;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0 20px 24px 0 rgba(21, 60, 245, 0.06), 0 5px 14px 0 rgba(5, 21, 46, 0.05);
    -webkit-transition: box-shadow 350ms ease, border-color 350ms ease;
    transition: box-shadow 350ms ease, border-color 350ms ease;
    color: #858c95;
    font-size: 20px !important;
    line-height: 38px;
}

.ibookin-input,
.ibookin-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    /* vertical-align: middle; */
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.container-small {
    max-width: 670px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.container-small.hero {
    position: relative;
    z-index: 1;
}

.section.hero {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 120px;
}

.mw-100 {
    max-width: 100% !important;
}

.button-primary.search {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 18px;
    margin-right: 24px;
    margin-bottom: 18px;
}

input.ibookin-button {
    -webkit-appearance: button;
}

.ibookin-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.text-center {
    text-align: center !important;
}

.ibookin-input,
.ibookin-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    /* vertical-align: middle; */
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

.search-input:hover {
    border-color: #1373b8;
    box-shadow: 0 24px 33px 0 rgba(21, 60, 245, 0.1), 0 7px 18px 0 rgba(5, 21, 46, 0.07);
}

.search-input:focus {
    border-color: #1373b8;
    color: #05152e;
}

/* *-*-*-*-*-* main css *-*-*-*-*-* */
/* Top categories area  */
.top-categories-area {
    padding: 50px 0;
}

.top-categories-area h3 {
    font-weight: 800;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
}

.categories-single-item {
    border-radius: 8px;
    box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    background: white none repeat scroll 0% 0%;
    overflow: hidden;

    flex-direction: column;
    border: 1px solid rgb(231, 232, 233);
    cursor: pointer;
    display: flex;
    transition: box-shadow 300ms ease 0s,
        transform 300ms ease 0s;
}

.categories-single-item:hover {
    box-shadow: rgba(16, 25, 40, 0.16) 0px 8px 16px 0px;
}

.categories-single-item img {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
    animation: 0s ease 0s 1 normal none running none;
    overflow: hidden;

    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px !important;
    transition: opacity 200ms ease 0s;
    opacity: 1;


}

.categories-single-item p {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    height: 56px;
    padding: 8px 16px;
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    color: rgb(16, 25, 40);
    line-height: 18px;
}

.owl-next span {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 30%;
    content: '';
    right: 0;
    width: 20px;
    margin-right: -4%;
    display: flex;
    height: 20px;
    line-height: 0px;
    font-size: 23px;
    font-weight: bold;
}

.owl-prev span {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 30%;
    content: '';
    left: 0;
    width: 20px;
    margin-left: -4%;
    display: flex;
    height: 20px;
    line-height: 0px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Turn on location service  */
.turn-on-location {
    box-shadow: 1px 8px 24px 0 rgba(0, 0, 0, .11);
    border-radius: 8px;
    padding: 80px;
}

.turn-on-location-area {
    padding-bottom: 50px;
}

.turn-on-location-content h3 {
    font-weight: bold;
    margin-bottom: 17px;
    font-size: 35px;
}

.turn-on-location-content p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 35px;
}

._2-buttons-header a {
    margin-right: 20px;
}

.button-secondary {
    padding: 18px 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(5, 21, 46, 0.1), 0 2px 6px 0 rgba(21, 60, 245, 0.02), 0 -2px 4px 0 rgba(21, 60, 245, 0.04);
    -webkit-transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, color 300ms ease, background-color 300ms ease;
    transition: transform 300ms ease, color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    color: #1373b8;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button-secondary:hover {
    background-color: #05152f;
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
    color: #fff;
}


.button-primary {
    padding: 18px 24px;
    border-radius: 4px;
    background-color: #05152f;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), 0 14px 14px 0 rgb(0 0 0 / 20%);
    -webkit-transition: box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: #05152f;
    box-shadow: 0 3px 9px 0 rgba(5, 21, 46, 0.16), 0 14px 19px 0 rgba(21, 60, 245, 0.23);
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
    color: #fff;
}

/* software-preview-area  */
.software-preview-content {
    padding-left: 50px;
}

.software-preview-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    padding-top: 100px;
}

.software-preview-content p {
    letter-spacing: 0px;
    margin: 30px 0;
    margin-bottom: 0px;
    /* min-width: 0px; */
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.learnmore-btn {
    display: flex;
    -moz-box-flex: 1;
    flex-grow: 1;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 11px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: 48px;
    background: rgb(3, 122, 255) none repeat scroll 0% 0%;
    position: relative;
    color: #fff;
    transition: background 300ms ease 0s, border 300ms ease 0s, color 300ms ease 0s;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.learnmore-btn:hover {
    background: rgb(78, 161, 255) none repeat scroll 0% 0%;
    border-color: transparent;
}


.software-preview-bg {
    background: #101928;
    padding-right: 0;
    border-radius: 16px;
}

.software-preview-area {
    padding-bottom: 50px;
}

/* featured-area */
.featured-area {
    padding-bottom: 50px;
}

.featured-box {
    transition: .3s;
    padding: 15px;
    border-radius: 8px;
}

.featured-box:hover {
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.featured-box img {
    border-radius: 8px;
    filter: grayscale(100%);
    transition: all 0.2s ease-out;
}

.featured-box img:hover {
    filter: grayscale(0%);
}

.featured-box h4 {
    color: #212529;
    font-size: 19px;
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(16, 25, 40);
    overflow: hidden;
    white-space: nowrap;
}

.featured-location {
    letter-spacing: 0px;
    margin: 0px;
    min-width: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(135, 140, 147);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.review {
    display: flex;
    color: rgb(16, 25, 40);
    font-weight: 900;
}

.review i {
    color: #FFC830;
    font-weight: bold;
    margin-right: 7px;
}

.review p {
    color: rgb(135, 140, 147);
    margin-left: 10px;
    font-weight: 400;
}

.featured-catagory {
    background: #CDE4FF;
    width: 40%;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -6px;
}

/* *-*-*-*-*-* footer css *-*-*-*-*-* */
.footer-area {
    background: #fff;
    padding: 50px 0;
    border-top: 1px solid rgb(235, 230, 230);
}

.footer-social-icon a i {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 22px;
    color: #ededed;
    transition: .4s;
}

.footer-social-icon a i:hover {
    color: #000;
    transition: .4s;
}

.footer-menu h3 {
    color: #535964;
    font-weight: 600;
    font-size: 22px;
}

.footer-menu h3 {
    color: #535964;
    font-weight: 600;
    font-size: 22px;
}

.footer-menu ul li {
    list-style: none;
    padding: 5px 0;
}

.footer-menu ul {
    padding: 0;
}

.footer-menu p {
    color: rgb(16, 25, 40);
}

.footer-menu ul li a {
    color: rgb(16, 25, 40);
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
}

.copyright {
    /* border-top: 1px solid rgb(235, 230, 230); */
    color: #535964;
    padding-top: 15px;
}




/* ====================================================================================================================================================================================== Extra Page css =============================================================================================================================================== */

/* Register and login page css  */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form_wrapper {
    background: #fff;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid #05152f;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper label {
    font-size: 12px;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row>div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.form_wrapper .input_field>span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 30px;
}

.form_wrapper .input_field>span>i {
    padding-top: 10px;
}

.form_wrapper .textarea_field>span>i {
    padding-top: 10px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form_wrapper input[type="text"]:hover,
.form_wrapper input[type="email"]:hover,
.form_wrapper input[type="password"]:hover {
    background: #fafafa;
}

.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="email"]:focus,
.form_wrapper input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    box-shadow: 0 0 2px 1px rgb(5, 21, 47);
    border: 1px solid #05152f;
    background: #fafafa;
}

.form_wrapper input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form_wrapper input[type="submit"]:hover {
    background: #000;
}

.form_wrapper input[type="submit"]:focus {
    background: #05152f;
}

.form_wrapper input[type="checkbox"],
.form_wrapper input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form_container .row .col_half.last {
    border-left: 1px solid #ccc;
}

.checkbox_option label {
    margin-right: 1em;
    position: relative;
}

.checkbox_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #ccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}

.checkbox_option label:after {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
}

.checkbox_option input:hover+label:before {
    border-color: #000;
}

.checkbox_option input:checked+label:before {
    border-color: #000;
}

.checkbox_option input:checked+label:after {
    -moz-animation: check 0.8s ease 0s running;
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: #000;
}

.radio_option label {
    margin-right: 1em;
}

.radio_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #ccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}

.radio_option input:hover+label:before {
    border-color: #000;
}

.radio_option input:checked+label:before {
    background-color: #000;
    border-color: #000;
}

.select_option {
    position: relative;
    width: 100%;
}

.select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}

.select_option select::-ms-expand {
    display: none;
}

.select_option select:hover,
.select_option select:focus {
    color: #000;
    background: #fafafa;
    border-color: #000;
    outline: none;
}

.select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover+.select_arrow,
.select_option select:focus+.select_arrow {
    border-top-color: #000;
}

.credit {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color: #f5ba1a;
}

.credit a {
    color: #e1a70a;
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .bottom_row .col_half {
        width: 50%;
        float: left;
    }

    .form_container .row .col_half.last {
        border-left: none;
    }

    .remember_me {
        padding-bottom: 20px;
    }
}
.form_container a {
    color: #05152f;
    text-align: center;
}