html,
body {
    /* overflow-x: hidden; */
}

.default-bg {
    background-color: #f7f7fb;
}

*,
.no-padding,
li,
ul {
    padding: 0;
}

* {
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.ibookin-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
}

.ibookin-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.ibookin-container:before,
.ibookin-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.ibookin-container:after {
    clear: both
}

.ibookin-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900
}

.ibookin-dropdown-btn,
.ibookin-dropdown-toggle,
.ibookin-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap
}

.ibookin-dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 40px
}

.ibookin-dropdown-toggle:focus {
    outline: 0
}

.ibookin-icon-dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
    width: 1em;
    height: 1em
}

.ibookin-dropdown-list {
    position: absolute;
    background: #dddddd;
    display: none;
    min-width: 100%
}

.ibookin-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000
}

.ibookin-nav:before,
.ibookin-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.ibookin-nav:after {
    clear: both
}

.ibookin-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333
}

.ibookin-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.ibookin-nav-link.ibookin--current {
    color: #0082f3
}

.ibookin-nav-menu {
    position: relative;
    float: right
}

[data-nav-menu-open] {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #C8C8C8;
    text-align: center;
    overflow: visible;
    min-width: 200px
}

.ibookin--nav-link-open {
    display: block;
    position: relative
}

.ibookin-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%
}

.ibookin-nav-overlay [data-nav-menu-open] {
    top: 0
}

.ibookin-nav[data-animation="over-left"] .ibookin-nav-overlay {
    width: auto
}

.ibookin-nav[data-animation="over-left"] .ibookin-nav-overlay,
.ibookin-nav[data-animation="over-left"] [data-nav-menu-open] {
    right: auto;
    z-index: 1;
    top: 0
}

.ibookin-nav[data-animation="over-right"] .ibookin-nav-overlay {
    width: auto
}

.ibookin-nav[data-animation="over-right"] .ibookin-nav-overlay,
.ibookin-nav[data-animation="over-right"] [data-nav-menu-open] {
    left: auto;
    z-index: 1;
    top: 0
}

.ibookin-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ibookin-nav-button:focus {
    outline: 0
}

.ibookin-nav-button.ibookin--open {
    background-color: #C8C8C8;
    color: white
}

.ibookin-nav[data-collapse="all"] .ibookin-nav-menu {
    display: none
}

.ibookin-nav[data-collapse="all"] .ibookin-nav-button {
    display: block
}

.ibookin--nav-dropdown-open {
    display: block
}

.ibookin--nav-dropdown-toggle-open {
    display: block
}

.ibookin--nav-dropdown-list-open {
    position: static
}

@media screen and (max-width: 991px) {
    .ibookin-nav[data-collapse="medium"] .ibookin-nav-menu {
        display: none
    }

    .ibookin-nav[data-collapse="medium"] .ibookin-nav-button {
        display: block
    }
}

@media screen and (max-width: 767px) {
    .ibookin-nav[data-collapse="small"] .ibookin-nav-menu {
        display: none
    }

    .ibookin-nav[data-collapse="small"] .ibookin-nav-button {
        display: block
    }

    .ibookin-nav-brand {
        padding-left: 10px
    }
}

@media screen and (max-width: 479px) {
    .ibookin-nav[data-collapse="tiny"] .ibookin-nav-menu {
        display: none
    }

    .ibookin-nav[data-collapse="tiny"] .ibookin-nav-button {
        display: block
    }
}